table {
  padding-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px;
  text-align: left;
  padding: 5px;
}

th {
  font-family: Trebuchet MS, sans-serif;
  font-size: 30px;
}

.section {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline rgb(113, 113, 237);
  text-underline-offset: 12px;
}

.pursue {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.graduation {
  font-style: italic;
}

.sub-point {
  color: rgb(87, 87, 87);
}