.round-img {
    border-radius: 50%;
}

.align-about-me {
    width: 73%;
}

.top-align {
    vertical-align: top;
}

.pad-align {
    padding-left: 25px;
}

.pad-align-2 {
    padding-left: 25px;
    line-height: 18px;
}

.font-important {
    font-size: 20px;
}

.center-align{
    text-align: center;
}

/* table, td, th {
    border: 10px solid red;
} */

.download-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
  }