.App {
  text-align: center;
}

.navbar {
  /* background-color: rgb(126, 180, 227); */
  position: fixed;
  text-align: center;
  width: 100% ;
  height: 80px;
  background-color:transparent !important;
  /* background-color:transparent; */
  /* border-color:white; */
  box-shadow: 1px;
  margin-bottom:0px;
  font-family: 'Droid Serif', serif;
  font-size:20px;
  color: white;
}

.navbar-solid {
  background-color:white;
  position: fixed;
  width: 100%;
  text-align: center;
  transition: background-color 0.87s ease;
}

.profile {
  height: 40vmin;
  float: right;
}

.video-profile {
  height: 40vmin;
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 255, 0);
}

.link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.video-container {
  height: 300px;
  width: 300px;
  position: relative;
}

.font-bold {
  font-weight: bold;
}

.new-section {
  padding-top: 2.5%;
}

.div-center {
  text-align: center;
  justify-content: center;
  padding-left: 15%;
  padding-right: 5%;
}